<a href="https://colab.research.google.com/github/20aclaypool/Notes/blob/main/Day1_P2_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS 167 Machine Learning
## Day 01 Part 2 exercises
note that each of these segments should be run in a different cell within an iPython Notebook

In [2]:
a = 10
b = 3.14
c = "machine learning"
d = 'hi'
e = 'x'
f = [1,2,3]
print(a,b,c,d,e,f)

10 3.14 machine learning hi x [1, 2, 3]

In [3]:
print("a's type:", type(a))
a = 'variables can change types'
print("a's type:", type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

a's type: <class 'int'>
a's type: <class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>

I think y[0] will be 1

In [4]:
x = [1,2,3] 
y=x
x[0] = "abc" 
print(y)

['abc', 2, 3]

I did not think that x changing x[0] would affect y[0]

print(x) will be ['abc', 'what', 3]
print(z) will be 'what' since z = x[1]
print(x) will be ['abc', 'what', 90, 3, 70]

In [5]:
z = x[1]
x[1] = "what"
print(x)
print(z)
x.append(70)
x.insert(2,90)
print(x)

['abc', 'what', 3]
2
['abc', 'what', 90, 3, 70]

So when x changes a value with the array it does not change z since it is set to the orginial value within the array

print( x.index(90) ) = 2 b/c it starts at 0

print( len(x) ) = 5 b/c it counts all values

print( x+x ) = ['abcabc', 'whatwhat', 180, 6, 140]

In [6]:
print( x.index(90) )
print( len(x) )
print( x+x )

2
5
['abc', 'what', 90, 3, 70, 'abc', 'what', 90, 3, 70]

print( x+x ) appends x to the end of x

In [7]:
#List Slices 

my_list = [33, 55, 'hello','R2D2',7.8,'banana']
print( my_list[1:5] )
print( my_list[:4])
print( my_list[4:])
print( my_list[:])

[55, 'hello', 'R2D2', 7.8]
[33, 55, 'hello', 'R2D2']
[7.8, 'banana']
[33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [8]:
my_slice = my_list[1:5]
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University'])
my_list[:0] = ['Bulldogs']
print(my_list)

[55, 'hello', 'what', 7.8]
[33, 55, 'hello', 'R2D2', 7.8, 'banana']
[55, 'hello', 'R2D2', 7.8, 'Drake', 'University', 'Drake', 'University']
['Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']

'Drake' or 'University' is not printout in the last line because it was not appended to the variable my_slice

In [9]:
my_list = [42, 3.14, 'hello', ['ice', 'ice', 'baby']]
print(my_list[3][2])
print(my_list[2][1])

baby
e

print(my_list[3][2]) goings into the array to index 3 which is another array. therefore it goes to the index 2 inside that array which is the string 'baby'

print(my_list[2][1]) goings into the array at the index of 2 which is a string so it goes to the index 1 of the string which is the char 'e'

In [12]:
# In Python, a tuple is a collection which is ordered andÃ‚Â unchangeable. 
# In Python tuples are written with round brackets.

my_tuple = (100,200,'300')
print(my_tuple[1])
my_dictionary = {'x':42, 'y':3.14}
print(my_dictionary['x'])

200
42

i think print(my_list[1][2])  will cause an error b/c we have not ran it in a little while

In [17]:
print(my_list[1][2])

TypeError: ignored

In [16]:
my_tuple[1] = 0

TypeError: ignored

In [15]:
print(my_dictionary[1])

KeyError: ignored

In [20]:
x = int(input())
if x < 0:
    print("x is negative")
elif x % 2:
    print("x is positive and odd")
else:
    print("x is even and nonnegative")

num_list = [3, 7, 9,17, 2]
for num in num_list:
    print(num)

print(range(10,20))
for n in range(10,20):
    print(n)

-3
x is negative
3
7
9
17
2
range(10, 20)
10
11
12
13
14
15
16
17
18
19

In [21]:
# iterating Through Data
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
# method 1
for element in my_data:
    print(element)

# method 2
for idx in range(len(my_data)):
    print(my_data[idx])

5.3
3.2
4.1
5.9
6.7
3.5
5.3
3.2
4.1
5.9
6.7
3.5

In [ ]:
# Explain why these won't work:
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
for i in my_data:
    print( my_data[i] )

for i in range(len(my_data)):
    print( i )

for i in range(my_data):
    print( my_data[i] )

The code above will not work b/c the first for loop should be:

for i in my_data:

  print( i )

The second and third for loop should be:

range(len(my_data)):

  print( my_data[i] )